@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{

  margin : 0;
  padding : 0;
  box-sizing : border-box;
  font-family: "Roboto", sans-serif;
}


body{

  height : 100vh;
  width : 100vw;
  display : flex;
  justify-content : center;
  align-items : center;
  background-color : #ca2f2f
}


.bmi-calculator{
  height : 500px;
  width : 800px;
  padding : 20px;
  background-color : white;
  border-radius : 15px;
  box-shadow : 0 0 10px rgb(237, 7, 188,0.2);
  display : flex;
  
  
}

.box{

  width : 350px;
  margin-left : 100px;
  display : flex;
  justify-content : center;
  align-items : center; 
  
}




.image img{
  width : 300px;
  height : 300px;
  margin-top : 84px;
}

.data{
  flex : 1;
  padding : 10px;
}

h1{
  font-weight : 500;
  margin-bottom : 20px;
  padding : 10px 0px;
  text-transform : uppercase;
  font-size : 25px;
  color : #071fcf;
  text-align : center;
}


.input-container{
  margin-bottom : 15px;
  
}


label{
  display :block;
  margin-bottom : 5px;
  color : #888;
}

input{
    width : 100%;
    padding : 10px;
    border : 1px solid #9effb1;
    border-radius : 10px;
    outline : none;
    margin-bottom : 10px;
}

  button{
    background-color : blue;
    color : white;
    border : none;
    width : 100%;
    padding : 10px;
    border-radius : 5px;
    font-size : 16px;
    cursor : pointer;
  }
  button:hover{
    background-color : #071fcf;
  }

.result{
  padding : 10px;
  margin-top : 20px;
  border-radius : 5px;
  border : 2px solid #7eff14;
}

.result p{
  margin : 10px;
  
}
.result p:first-child{
  color : #071fcf;
  font-weight : bold
}

.statusUnder{
  color : orange;
  
}

.statusNormal{
  color : #00f000;
}

.statusOver{
  color : red;
}

.statusObese{
  color : purple;
}